<footer class="home-footer">
	<div class="container">
		<div class="col-sm-4">
		<ul class="footer-list">
		<li><a href="#" title="Questions?">Questions?</a></li>
		<li><a href="#" title="FAQ">FAQ</a></li>
		<li><a href="#" title="Contact us">Contact us</a></li>
		<li><a href="#" title="support@EditBlink.com">support@movies.com</a></li>
		</ul>
		</div>
		<div class="col-sm-4 foter-midle">
		<ul class="footer-list">
		<li><a href="#" title="Terms and Conditions">Terms and Conditions</a></li>
		<li><a href="#" title="Privacy Policy">Privacy Policy</a></li>
		<li><a href="#" title="Gaurentee">Gaurentee</a></li>
		<li><a href="#" title="Proofreading Jobs">Proofreading Jobs</a></li>
		</ul>
		</div>
		<div class="col-sm-4">
		<div><a href="index.html" title="Order Proofreading" class="foter-order-prof"></a></div>
		<div><a href="#" title="" class="foter-logo"><div class=" proof-logo"><img src="{{ STATIC_URL }}images/movies_folder.png" title="" alt="" /></div></a></div>
		</div>
	</div>
</footer>